<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>friends list page</title>
    <link rel="stylesheet" href="/css/topbar.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/topbar.js" defer></script>
</head>

<body>
    
  <!-- top bar start -->
  <div class="topbar">
    <a href="./homepage.html" class="LOGO">MeetUp Planner</a>

    <!-- checks for admin approval -->
    <span id="user" style="display: none">[[${user.admin}]]</span>

    <div class="dropdown">
      <a class="links">[[${user.name}]]</a> 
      <img src="../image/dropdown button.png" alt="Profile Picture" id="dropDownIcon">

      <!-- <button class="dropbtn"></button> -->

      <div class="dropdown-content">

        <a href="/adminView" class="links" id="view-all-link">View All</a>

        <a href="/userProfile" class="links">Profile</a>

        <a href="/friendView" class="links">Friends</a>
        
        <a href="/calendar" class="links">Schedule</a>
        
        <!-- <a href="#" class="links">Account Setting</a>
        <a href="#" class="links">Preference</a> -->

        <!-- sign out button -->
        <a href="/logout" class="links">Sign Out</a>
      </div>
    </div>   

    <img src="../image/pfp.png" alt="Profile Picture" id="pfp2">
  </div>
  <!-- top bar end -->

  <div>
    <form action = "/addFriend" method="post">
      <label for="adding-friend">Add Friend's Name:</label>
      <input type="text" id="friendName" name="friendName" class="form-control" placeholder="Enter">
    </form>
  </div>

  <div id="container" th:each="user: ${users}">
                                                
      <table id="text">
        <tr>
          <td class="leftside">
            <img src="../image/pfp.png" alt="Profile Picture" id="pfp">
          </td>
  
          <td class="rightside">
            Name: <span th:text="${user.name}"></span> <br>
            email: <span th:text="${user.email}"></span> <br>
          </td>
        </tr>
        <tr>
          <td>
            <form id="ViewForm" method="post" action="/ViewUser">
              <input type="hidden" name="userId" th:value="${user.uid}">
                <button class="form-button2" type="submit">View</button>
            </form>
          </td>
          <td>
            <form id="unfriend" method="post" action="/unfriend">
              <input type="hidden" name="userId" th:value="${user.uid}">
                <button class="form-button2" type="submit">Unfriend</button>
            </form>
          </td>
        </tr>
      </table>  
  </div>    

</body>
</html>