<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>friends list page</title>
    <link rel="stylesheet" href="/css/topbar.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/topbar.js" defer></script>
</head>

<body>
    
  <!-- top bar start -->
  <div class="topbar">
    <a href="./homepage.html" class="LOGO">MeetUp Planner</a>

    <!-- checks for admin approval -->
    <span id="user" style="display: none">[[${user.admin}]]</span>

    <div class="dropdown">
      <a class="links">[[${user.name}]]</a> 
      <img src="../image/dropdown button.png" alt="Profile Picture" id="dropDownIcon">

      <!-- <button class="dropbtn"></button> -->

      <div class="dropdown-content">

        <a href="/adminView" class="links" id="view-all-link">View All</a>

        <a href="/userProfile" class="links">Profile</a>

        <a href="/friendView" class="links">Friends</a>
        
        <a href="/calendar" class="links">Schedule</a>
        
        <!-- <a href="#" class="links">Account Setting</a>
        <a href="#" class="links">Preference</a> -->

        <!-- sign out button -->
        <a href="/logout" class="links">Sign Out</a>
      </div>
    </div>   

    <img src="../image/pfp.png" alt="Profile Picture" id="pfp2">
  </div>
  <!-- top bar end -->

  <form action="/sendFriendRequest" method="post">
    <label for="adding-friend">Add Friend's Name:</label>
    <input type="text" id="friendName" name="friendName" class="form-control" placeholder="Enter">
    <button type="submit">Send Friend Request</button>
</form>

<div id="container" th:each="profileUser: ${users}" th:if="${profileUser != null}">
  <table id="text">
      <!-- ... -->
      <tr>
          <td>
              <form id="ViewForm" method="post" th:action="@{'/ViewUser(userId=' + profileUser.uid + ')'}">
                  <button class="form-button2" type="submit">View</button>
              </form>
          </td>
          <td>
              <form id="unfriend" method="post" th:action="@{'/unfriend(userId=' + profileUser.uid + ')'}">
                  <button class="form-button2" type="submit">Unfriend</button>
              </form>
          </td>
      </tr>
      <tr>
          <td colspan="2">
              <!-- Display buttons or messages based on friend request status -->
              <span th:if="${profileUser.sentFriendRequest}">
                  Friend request sent
              </span>
              <span th:if="${profileUser.receivedFriendRequest}">
                  Friend request received
                  <form id="acceptFriendRequestForm" method="post" th:action="@{'/acceptFriendRequest(userId=' + profileUser.uid + ')'}">
                      <button class="form-button2" type="submit">Accept</button>
                  </form>
              </span>
              <span th:unless="${profileUser.sentFriendRequest or profileUser.receivedFriendRequest}">
                  <form id="sendFriendRequestForm" method="post" th:action="@{'/sendFriendRequest(userId=' + profileUser.uid + ')'}">
                      <button class="form-button2" type="submit">Send Friend Request</button>
                  </form>
              </span>
          </td>
      </tr>
  </table>
</div>

</body>
</html>

