<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Monthly Calendar in Spring Boot/Java (Open-Source)</title>

  <link href="css/main.css" rel="stylesheet" type="text/css">
  <link href="icons/style.css" rel="stylesheet" type="text/css">
  
  <link rel="stylesheet" href="/css/topbar.css">
  <link rel="stylesheet" href="/css/index.css">
  <script src="/js/topbar.js" defer></script>
  <script src="/js/index.js" defer></script>
  <!-- DayPilot library -->
  <script src="js/daypilot/daypilot-all.min.js"></script>


  <style>
    .month_default_event_inner {
        border-radius: 20px;
    }
  
  </style>

</head>
<body>
<div class="header">
  <!-- top bar start -->
  <div class="topbar">
    <a href="./homepage.html" class="LOGO">MeetUp Planner</a>

    <!-- checks for admin approval -->
    <span id="user" style="display: none">[[${user.admin}]]</span>

    <div class="dropdown">
      <a class="links">[[${user.name}]]</a> 
      <img src="../image/dropdown button.png" alt="Profile Picture" id="dropDownIcon">

      <!-- <button class="dropbtn"></button> -->

      <div class="dropdown-content">

        <a href="/adminView" class="links" id="view-all-link">View All</a>

        <a href="/userProfile" class="links">Profile</a>

        <a href="/friendView" class="links">Friends</a>
        
        <a href="/calendar" class="links">Schedule</a>
        

        <!-- <a href="#" class="links">Account Setting</a>
        <a href="#" class="links">Preference</a> -->

        <!-- sign out button -->
        <a href="/logout" class="links">Sign Out</a>
      </div>
    </div>   
    <img src="../image/pfp.png" alt="Profile Picture" id="pfp2">
  </div>
  <!-- top bar end -->



  <div class="main">
  
   
    <div class="wrap">
      <div class="left">
        <div id="nav"></div>
      </div>

      <div class="right">
        <div class="toolbar">
          <button id="previous">Previous</button>
          <button id="next">Next</button>
          <button id="plan">Add</button>
          <!-- Event form modal -->
          <div id="eventFormModal" class="modal">
              <div class="modal-content">
              <span class="close">&times;</span>
              <form id="eventForm">
                  <button type="button" id="advance">Advance</button>
                  <label for="start-date-input">Start Date:</label>
                  <input type="datetime-local" id="start-date-input" name="start-date">

                  <label for="end-date-input">End Date:</label>
                  <input type="datetime-local" id="end-date-input" name="end-date">

                  <!-- <label for="location">location:</label>
                  <input type="location" id="location-input" name="location"> -->

                  <label for="event-text-input">Event Text:</label>
                  <input type="text" id="event-text-input" name="event-text">

                  <button type="submit" id="createEvent">    Create Event</button>
              </form>
              </div>
          </div>


          
          <div class="dropdown2">
            <img src="../image/questionMark.png" alt="Profile Picture" id="dropDownIcon2">
        
            <div class="dropdown-content2">
              <a>- click and drag across the time frame you would to add an event to the schedule</a>
              <a>- additionally you can plan an event by clicking the plan event button to the left of the question mark, additonally within add there is advance button which will include the feature to select an event (based on event ID input) that comes before the event being planned and calculate needed time between for travel time</a>
              <a>- click next to go to the next week and previous to go to the previous week</a>
              <a>- additionally if you click a date on the left monthly calendar you will be sent to that week</a>
            </div>
          </div>


        </div>
        <div id="dp"></div>
        <br>
        <div id="invitation">
          <h1 style="font-weight:bold;">Invitation:</h1>
      </div>
      
      </div>
  </div>
</div>

</body>
</html>
