/* dropdown menu */
.dropdown2 {
    position: absolute;
    display: inline-block;
    padding-left: 5px;
  }
  
  .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 220px;
    z-index: 1;
    left: 0; 
    border: solid black;
    border-width: 1px;
  }
  
  .dropdown2:hover .dropdown-content2 {
    display: block;
  }
  
  .dropdown-content2 a {
    color: black;
    display: block;
    text-align: left;
    padding: 5px 5px 5px 5px;
  }
  
  #dropDownIcon2 {
    width: 22px;
    height: 32px;
  }


  .toolbar {
    margin-bottom: 20px;
}

.toolbar button {
    display: inline-block;
    text-align: center;
    background-color: #3c78d8;
    border: 1px solid #1155cc;
    color: #fff;
    padding: 6px 20px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 5px;
    width: 100px;
    text-decoration: none;
}

/* Modal styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

