p, body, td, input, select, button {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
    font-size: 14px;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
}

a {
    color: #1155a3;
}

.space {
    margin: 10px 0px 10px 0px;
}

.topbar {
    /* Add the topbar (header) css here */
    background-color: #d9aaff;
    padding: 15px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    border-bottom: solid black;
    border-width: 1px;
}

.header a {
    color: white;
}

.header h1 a {
    text-decoration: none;
}

.header h1 {
    padding: 0px;
    margin: 0px;
}

.main {
    padding: 10px;
    margin-top: 20px;
}

/* context menu icons */
.icon:before {
    position: absolute;
    left: 0px;
    margin-left: 8px;
    margin-top: 3px;
    width: 14px;
    height: 14px;
    content: '';
}

.icon-blue:before { background-color: #3c78d8; }
.icon-green:before { background-color: #13A874; }
.icon-yellow:before { background-color: #EFB914; }
.icon-red:before { background-color: #F03030; }


/* columns */

.wrap {
    display: flex;
}

.left {
    margin-right: 10px;
}

.right {
    flex-grow: 1;
}

/* toolbar */
.toolbar {
    margin-bottom: 20px;
}

.toolbar button {
    display: inline-block;
    text-align: center;
    background-color: #3c78d8;
    border: 1px solid #1155cc;
    color: #fff;
    padding: 6px 20px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 5px;
    width: 100px;
    text-decoration: none;
}

.links {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
  
.LOGO {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    margin-right: auto; /* Push LOGO element to the left */
}

#pfp2 {
    width: 40px;
    height: 40px;
}

#dropDownIcon {
    width: 10px;
    height: 10px;
}

/* #username:hover {
background-color: #d441f5;
} */

/* dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
    padding: 0px 5px 0px 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    z-index: 1;
    right: 0; 
    border: solid black;
    border-width: 1px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    display: block;
    text-align: left;
    padding: 5px 5px 5px 5px;
}


.dropdown-content a:hover {
    background-color: #b1b1b1;
}

