/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
  height: 100%;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}
.custom-map-control-button:hover {
  background: rgb(235, 235, 235);
}

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

/* Center the search bar */
#pac-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

/* Style the search bar and container */
.pac-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font: 400 16px Roboto, Arial, sans-serif;
  font-family: Roboto;
  margin: 10px auto;
  max-width: 400px;
  padding: 10px;
  width: 100%;
}

#pac-input {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 15px;
  margin: 5px;
  padding: 8px;
  width: 55%;
}

/* Style the autocomplete dropdown */
.pac-item {
  padding: 5px;
}

.pac-item-query {
  font-weight: bold;
}

.pac-icon-marker {
  display: none;
}

/* Hide the powered by Google logo */
.pac-logo:after {
  content: "";
  display: none;
}


#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}