body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.container {
    display: flex;
    position: relative;
    height: 100%;
    
  }

  .leftpanel {
    flex: 1;
    padding: 20px;

  }

  .rightpanel {
    flex: 9;
    padding: 10px;
    border-width: 1px;
    border-left: solid black;
  }

  /* left panel */
  #pfp {
    width: 200px;
    height: 200px;
  }

  .profileUsername {
    font-size: 50px;
  }

  .friends {
    font-size: 20px;
    width: 200px;
    height: 50px;
  }

  /* right panel */